= form_for @usuario_item do |f|
  - if @usuario_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@usuario_item.errors.count, "error")} prohibited this usuario_item from being saved:"
      %ul
        - @usuario_item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :item
    = f.text_field :item
  .field
    = f.label :assignment
    = f.text_field :assignment
  .actions
    = f.submit 'Save'
