%h1 Listing usuario_items

%table
  %thead
    %tr
      %th Item
      %th Assignment
      %th
      %th
      %th

  %tbody
    - @usuario_items.each do |usuario_item|
      %tr
        %td= usuario_item.item
        %td= usuario_item.assignment
        %td= link_to 'Show', usuario_item
        %td= link_to 'Edit', edit_usuario_item_path(usuario_item)
        %td= link_to 'Destroy', usuario_item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Usuario item', new_usuario_item_path
