%p#notice= notice

%p
  %b Item:
  = @usuario_item.item
%p
  %b Assignment:
  = @usuario_item.assignment

= link_to 'Edit', edit_usuario_item_path(@usuario_item)
\|
= link_to 'Back', usuario_items_path
