= form_for ([@event,@assignment]) do |f|
	.col.s12
		- if @assignment.errors.any?
			.red.lighten-2{style:"padding:10px"}
				%i.material-icons.left warning
				%h6= "#{pluralize(@assignment.errors.count, "problema(s)")} ocurrió al guardar el evento"
			-@assignment.errors.full_messages.each do |message|
				%script Materialize.toast("#{message}", 5000);
		.row
			.input-field.col.s12.l4
				%i.material-icons.prefix filter_9_plus
				= f.text_field :cantidad
				= f.label :cantidad
			.input-field.col.s12.l8
				%i.material-icons.prefix account_circle
				= f.text_field :usuario
				= f.label :usuario, "Nombre"
			-@event.items.reverse.each do |i| 
				.input-field.col.s12
					= radio_button_tag :item_para_usuario,i.id
					= label_tag "item_para_usuario_#{i.id}", "#{i.descripcion}"
			.input-field.col.s12
				%br
				%a.btn.waves-effect.waves-light.modal-trigger.green{:href => "#modal4"} Traer item
				#modal4.modal
					.modal-content
						%h4.truncate ¿Esta seguro que desea traer este item?
						%ul
							%li *No va a poder editar esta selcción posteriormente
							%li *No va a poder eliminar esta descisión
					.modal-footer
						= f.submit 'Traer', :class=>"btn"
						%a.modal-action.modal-close.waves-effect.waves-green.btn-flat REGRESAR
