= form_for ([@event,@assignment]) do |f|
	- if @assignment.errors.any?
		#error_explanation
			%h2= "#{pluralize(@assignment.errors.count, "error")} prohibited this assignment from being saved:"
			%ul
				- @assignment.errors.full_messages.each do |message|
					%li= message

	.field
		= f.label :usuario
		= f.text_field :usuario
	.field
		= f.label :cantidad
		= f.text_field :cantidad
	.actions
		= f.submit 'Save'
