= form_for @event,:html=>{:class=>"row"}  do |f|
	.col.s12
		- if @event.errors.any?
			.red.lighten-2{style:"padding:10px"}
				%i.material-icons.left warning
				%h6= "#{pluralize(@event.errors.count, "problema(s)")} ocurrió al guardar el evento"
			-@event.errors.full_messages.each do |message|
				%script Materialize.toast("#{message}", 5000);

		.row
			.input-field.col.s12
				%i.material-icons.prefix event
				= f.text_field :nombre
				= f.label :nombre
			.input-field.col.s12
				%i.material-icons.prefix reorder
				= f.text_area :descripcion, :class => "materialize-textarea",:data=>{:length=>"400"}
				= f.label :descripcion
			.input-field.btn.waves-effect.waves-light
				= f.submit "Crear"