-u=0
-@event.items.reverse.each do |i| 
	-u+=i.numero.to_i
.fixed-action-btn
	%a.btn-floating.btn-large.red.modal-trigger.tooltipped{:href => "#modal1", :data=>{:position=>"top", :delay=>"50", :tooltip=>"Crear nuevo evento"}}
		%i.large.material-icons add
.container
	.row
		%br/
		%br/
		%br/
		.col.s12
			%h4.truncate
				= @event.nombre.upcase
		.col.s12
			%h6.truncate
				= @event.descripcion
		.col.s12
			%br/
			%br/
			%br/
			%strong Progreso #{u}%:
			%br
			%a.waves-effect.waves-light.btn.modal-trigger{:href => "#modal3"} historial
			.progress
				-if u == 0
					"<div class="indeterminate"></div>"
				-else
					"<div class="determinate" style="width: #{u}%"></div>".html_safe
		%br/
		%br/
		.col.s12.m6
			%h5.truncate Traer Item
			%p *Llene los campos
			=render "assignments/form"
		.col.s12.m6
			%h5.truncate Agregar item:
			%p *Llene ambos campos
			=render "items/form"
			%br/
			%br/
		.col.s12.m6.offset-m6
			%h5.truncate Items y asignaciones:
			%ul.collapsible{data:{collapsible:"accordion"}}
				-@event.items.reverse.each do |i| 
					%li 
						.collapsible-header
							=i.descripcion
							%span.badge 
								faltan: #{i.numero}
						.collapsible-body
							%p 
								aqui va quien