-u=0
-@event.items.reverse.each do |i| 
	-u+=i.numero.to_i
.fixed-action-btn
	%a.btn-floating.btn-large.red.modal-trigger.tooltipped{:href => "#modal1", :data=>{:position=>"top", :delay=>"50", :tooltip=>"Crear nuevo evento"}}
		%i.large.material-icons add
#modal3.modal.bottom-sheet
	.modal-content
		%h4.truncate Historial
		%ul.collection
			-@event.assignments.reverse.each do |e| 
				%li.collection-item.avatar
					%i.material-icons.circle.green account_box
					%span.title #{e.usuario.capitalize}
					%p #{e.cantidad} - que trajo <br/> #{time_ago_in_words(e.created_at)} ago
					%p.secondary-content
						%i.material-icons done
%br/
%br/
%br/
.container
	.row
		.col.s12.m6.light-green.lighten-5.card-panel
			.col.s12
				%h4.truncate
					= @event.nombre.upcase
			.col.s12
				%h6
					= @event.descripcion
			.col.s12
				%br/
				%br/
				%br/
				%strong Progreso #{u}%:
				%br
				%a.modal-trigger{:href => "#modal3"}  Ver historial
				.progress
					-if u == 0
						"<div class="indeterminate"></div>"
					-else
						"<div class="determinate" style="width: #{u}%"></div>".html_safe
		-#.col.l1
		.col.s12.m6.card-panel.hovereable
			%h5.truncate Agregar item:
			%blockquote *Llene ambos campos
			=render "items/form"
			%br/
			%br/
		.col.s12.m6.card-panel.hovereable
			%h5.truncate Traer Item
			%blockquote *Seleccione algun item y llene los campos
			=render "assignments/form"
		.col.s12.m6
			%h5.truncate Items y asignaciones:
			%ul.collapsible{data:{collapsible:"accordion"}}
				-@event.items.reverse.each do |i| 
					%li 
						.collapsible-header
							=i.descripcion
							%span.badge 
								faltan: #{i.numero}
						.collapsible-body
							%p 
								aqui va quien