%p#notice= notice

%p
  %b Numero:
  = @item.numero
%p
  %b Descripcion:
  = @item.descripcion
%p
  %b Event:
  = @item.event
%p
  %b Assignment:
  = @item.assignment

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
