!!!5
%html{lang: "es"}
	%head
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset:"UTF-8"}
		-#= favicon_link_tag 'favicon.ico'
		= csrf_meta_tags		
		= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		%title What2Bring
%body
	.navbar-fixed
		%nav.light-blue.lighten-1{:role=>"navigation"}
			.nav-wrapper.container
				=link_to("W2B", root_path, :class=>"brand-logo")
				%ul.right.hide-on-med-and-down
					%li
						-#=link_to("Nuevo evento <i class=\"material-icons right\"> add </i>".html_safe,new_event_path)
						%a.modal-trigger{:href => "#modal1"} Nuevo evento <i class="material-icons right"> add </i>
		-#=link_to("<i class=\"material-icons right\"> add </i>".html_safe,new_event_path, :class=>" btn-floating btn-large waves-effect waves-light red")
	#modal1.modal
		.modal-content
			%h4 Nuevo Evento
			-@event = Event.new
			= render 'events/form'
		.modal-footer
			%a.modal-action.modal-close.waves-effect.waves-green.btn-flat CERRAR
	=yield
	-flash.each do |_key, msg|
		%script	Materialize.toast("#{msg}", 5000);